# exclude
*/db
*/incremental_db
*/output_files
*/simulation
*/work
*.txt
*.mti
*.mpf
# *.qpf # this is used to open  the project from quartus
*.qsf
*.sdc
*.qws
*.wlf
*.bak
.directory
transcript
.hidden


# include
!DE1_SoC_pin_assignments.qsf
